<% def name="yop" %>
    Hello
<% def %>
<% def name="test" %>
    ${test_var}
<% def %>
<% def name="test2" %>
    <% _.each(lst, function(el) { %>
    ${el}
    <% }
    ); %>
<% def %>
<% def name="test3" %>
    % _.each(lst, function(el) { 
    ${el}
    % }); 
<% def %>
<% def name="testfct" %>
    % var yop = function(arg) {
    ${arg}
    % }; 
    <% yop("abc"); %>
    % yop("def");
<% def %>
<% def name="testmacro" %>
    lalala
<% def %>
<% def name="testcallmacro" %>
    %{engine.testmacro()}
<% def %>
<% def name="truc" %>
    <div>
        % if (yop) {
        <span>${yop}</span>
        % }
    </div>
<% def %>