
<%def name="yop">
    Hello
</%def>
<%def name="test">
    ${test_var}
</%def>
<%def name="test2">
    <% _.each(lst, function(el) { %>
    ${el}
    <% }
    ); %>
</%def>
<%def name="test3">
    % _.each(lst, function(el) { 
    ${el}
    % }); 
</%def>
<%def name="testfct">
    % var yop = function(arg) {
    ${arg}
    % }; 
    <% yop("abc"); %>
    % yop("def");
</%def>
<%def name="testmacro">
    lalala
</%def>
<%def name="testcallmacro">
    %{engine.testmacro()}
</%def>
<%def name="testescaping">
    % var x = "<div></div>";
    ${x}
</%def>
<%def name="testnoescaping">
    % var x = "<div></div>";
    %{x}
</%def>
<%def name="test_this">
    ${this.str}
</%def>
<%def name='testDef'>
    <%def name="test">
        Test
    </%def>
    %{test()}
</%def>
<%def name="testFunctional">
    % var x = "Test";
    <%def name="test">
        ${ x }
    </%def>
    %{ engine.testFunctional2({test: test}) }
</%def>
<%def name="testFunctional2">
    <div>
        %{ test() }
    </div>
</%def>
## this is a comment
<%def name="testComment">
    ## this is another comment
    Test
</%def>
<%def name="testMultiComment">
    <%doc>This is 
    a multi line comment</%doc>
    Test
</%def>
<%def name="multiSingleLine">
    % if (true
    %     === true) {
        Test
    % }
</%def>
<%def name="print">
    % print("Test")
</%def>

