.frontPageHeader {
  display: table;
  height: 200px;
  margin: 20px auto 10px auto;
}
.frontPageHeader > img {
  display: table-cell;
}
.frontPageHeader > div {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}
.frontPageHeader > div > h1 {
  font-size: 70px;
  margin: 10px 0px;
}
.frontPageHeader > div > h2 {
  font-size: 20px;
  margin: 15px 0px;
}
.sidePageHeader {
  text-align: center;
}
.sidePageHeader > div {
  text-align: left;
  margin-bottom: 15px;
}
.sidePageHeader > div > h1 {
  font-size: 40px;
  margin: 10px 0px;
}
.sidePageHeader > div > h2 {
  font-size: 15px;
  margin: 15px 0px;
}
.sideNavigation a,
.usefulLinks a {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  font-style: italic;
}
.sideBlock {
  margin: 0 20px;
}
.usefulLinks a {
  display: block;
}
.horizontalSocialNetwork {
  text-align: center;
}
.verticalSocialNetwork > iframe {
  display: block;
  margin: 7px 20px;
}
