
.frontPageHeader {
    >img {
        display: table-cell;
    }
    >div {
        display: table-cell;
        vertical-align: middle;
        padding-left: 50px;
        >h1 {
            font-size: 70px;
            margin-bottom: 15px;
        }
        >h2 {
            font-size: 20px;
        }
    }
    display: table;
    height: 200px;
    margin: 20px auto;
}

.sidePageHeader {
    text-align: center;
    >div {
        text-align: left;
        >h1 {
            font-size: 40px;
            margin: 0 20px;
        }
        >h2 {
            font-size: 15px;
            margin: 0 20px;
        }
        margin-bottom: 15px;
    }
}

.horizontalMenu {
    text-align: center;
    > a {
        font-style: italic;
        padding: 0 10px;
    }
}

.sideNavigation {
    a {
        display: block;
        margin: 5px 0;
        font-size: 16px;
        font-style: italic;
    }
    margin: 0 20px;
}
