
.frontPageHeader {
    >img {
        display: table-cell;
    }
    >div {
        display: table-cell;
        vertical-align: middle;
        padding-left: 50px;
        >h1 {
            font-size: 70px;
            margin-bottom: 15px;
        }
        >h2 {
            font-size: 20px;
        }
    }
    display: table;
    height: 200px;
    margin: 20px auto;
}

.leftLogo {
    text-align: center;
    >img {
        width: 150px;
    }
}

.sidePageHeader {
    >div {
        >h1 {
            font-size: 40px;
            margin: 0 30px;
        }
        >h2 {
            font-size: 15px;
            margin: 0 30px;
        }
    }
    height: 300px;
}

.horizontalMenu {
    text-align: center;
    > a {
        font-style: italic;
        padding: 0 10px;
    }
}
